.profile .avatar {
  width: 10rem;
  margin: 4rem auto 0;

  position: relative;
}

.profile .avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.profile .avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.profile h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
  margin-bottom: 0.25rem;
}

.profile a {
  color: var(--gray);
  text-decoration: none;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;
}

.profile p {
  margin-top: 2rem;
}

.profile ul {
  margin-top: 2rem;
  padding-bottom: 2rem;

  list-style: none;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

.profile ul li a {
  display: flex;

  width: 48px;
  height: 48px;

  justify-content: center;
  align-items: center;

  background-color: var(--black-neutral-medium);
}

@media (min-width: 576px) {

  .profile .avatar {
    margin: 12rem auto 0;
  }
  

  .profile p {
    position: relative;    
    
    font-size: 1rem;
    line-height: 1.5rem;

    padding: 0 3rem;
    
    overflow: hidden; 
    max-height: 3rem;
  }
 
  .profile p::after {
    content: '...';
  
    position: absolute;
    right: 2.25rem;
    bottom: 0;
  }

  .profile ul {
    margin-top: 2.5rem;
  }
}  

@media (min-width: 720px) {}

@media (min-width: 960px) {}

